@model ShoppingCartViewModel

@if(Model.ShoppingCart.Count >0)
{
    <li>
        <a asp-controller="Shopping" asp-action="Index">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span id="cart-status">
                @Model.ShoppingCart.Count
            </span>
        </a>
    </li>
}
