@model Asp.netCoreMVC.Models.EmployeeInfoViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h1>ViewModel Demo</h1>
<title>@Model.title</title>
<div>Employee ID: @Model.employee.id</div>
<div>Employee name:@Model.employee.name</div>
<div>Employee Department :@Model.employee.department</div>
<div>State: @Model.employeeDetails.state</div>