
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<body>
    <a href="/tempdata/index">Home</a>
    <a href="/tempdata/aboutus">About US</a>
    <a href="/tempdata/contact">Contact US</a>
    <p>ViewData: @ViewData["message1"]</p>
    <p>TempData:@TempData["message"]</p>
</body>